
.page-sidebar .sidebar-menu .menu-items li > a {
    width: 80%!important
}

.gallery-item {
    background-color: #777;
    float: left;
    margin-right: 10px
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f8f8f8;
    color: rgba(99, 88, 88, 0.85);
}