@model dynamic

@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<section data-ng-controller="StudentMgmtController as vm" data-ng-init="vm.init()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group " style="margin-bottom: -5px">
                <label class="">Find Student(s)</label>
                <div class="radio radio-success m-l-10" style="display: inline-block;">
                    <input type="radio" value="bydate" name="optionyes" id="bydate" data-ng-model="vm.model.searchMode">
                    <label for="bydate">By Date</label>
                    <input type="radio" checked="checked" value="byword" name="optionyes" id="byword" data-ng-model="vm.model.searchMode">
                    <label for="byword">By Name or Student No</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-5 p-l-0" data-ng-show="vm.model.searchMode == 'bydate'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-default input-group col-sm-10">
                            <label>From Date</label>
                            <input type="text" class="form-control" placeholder="Pick a date" data-ng-model="vm.model.fromDate" required id="datepicker-component2">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default input-group col-sm-10">
                            <label>To Date</label>
                            <input type="text" class="form-control" placeholder="Pick a date" data-ng-model="vm.model.toDate" required id="datepicker-component2">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 p-l-0" data-ng-show="vm.model.searchMode == 'byword'">
                <input type="text" class="form-control" placeholder="Enter name or student no." data-ng-model="vm.model.searchText" />

            </div>
            <button class="btn btn-success" data-ng-click="vm.findStudent()">Find Student</button>
        </div>

        <div class="col-md-12">

            <table class="table table-hover table-striped" id="studentTable"></table>

        </div>
    </div>


    <div class="modal fade slide-up disable-scroll" id="roomAllocationModal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog ">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i>
                        </button>
                        <h5 class="bold">Allocate Room</h5>
                    </div>
                    <div class="modal-body">
                        <div class="portlet-progress" style="background-color: rgba(255, 255, 255, 0.8);" data-ng-show="vm.loader"><div class="progress-circle-indeterminate progress-circle-master"></div></div>
                        <form role="form" novalidate="" name="roomAllocationForm">
                            <fieldset>
                                <div class="form-group-attached m-b-10">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default input-group">
                                                <label>Student ID</label>
                                                <input type="text" data-ng-disabled="true" class="form-control" required="" data-ng-model="vm.allocationModel.studentNo">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Student Name</label>
                                                <input type="text" data-ng-disabled="true" class="form-control" required="" data-ng-model="vm.allocationModel.studentName">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Course of Study</label>
                                                <input type="text" data-ng-disabled="true" class="form-control" required="" data-ng-model="vm.allocationModel.courseName">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">

                                            <div class="form-group form-group-default form-group-default-select2 required">
                                                <label class="">Available Rooms</label>
                                                <select class="full-width" data-placeholder="Select room" data-ng-model="vm.allocationModel.roomId" data-init-plugin="select2">
                                                    <option data-ng-repeat="room in vm.rooms" value="{{room.Id}}">{{room.RoomName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default input-group col-sm-10">
                                                <label>Evacuation Date</label>
                                                <input type="text" class="form-control" placeholder="Pick a date" data-ng-model="vm.allocationModel.evacuationDate" required id="datepicker-component2">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row">

                                <div class="col-sm-4 m-t-10 sm-m-t-10">
                                    <button type="button" data-ng-click="vm.allocateRoom()" title="Please complete the form to allocate a room " class="btn btn-danger btn-block m-t-5">Save Allocation</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

</section>