@model dynamic

@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Students</h2>


<div class="row" data-ng-controller="StudentMgmtController as vm">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-3">Manage Mode</label>
            <div class="col-md-3">
                <input type="radio" value="bydate" data-ng-model="vm.model.searchMode"/> Manage by Date
            </div>
            <div class="col-md-3">
                <label><input type="radio" value="byword" data-ng-model="vm.model.searchMode"/> By Name or Student No.</label>
            </div>
            
        </div>
    </div>
    <div class="col-md-12">

        <div class="row" data-ng-show="vm.model.searchMode == 'bydate'">
            <label class="col-md-3">Manage Date</label>
            <div class="col-md-4">
                <input type="text" placeholder="From Date" data-ng-model="vm.model.fromDate"/>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="To Date" data-ng-model="vm.model.fromDate"/>
            </div>
        </div>
        <div class="row" data-ng-show="vm.model.searchMode == 'byword'">
            <label class="col-md-3">Manage by name or student no.</label>
            <div class="col-md-4">
                <input type="text" placeholder="Enter name or student no." data-ng-model="vm.model.searchText"/>
            </div>
        </div>
        <button class="btn btn-success">Find Student</button>
    </div>

    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <td>Full Name</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
    </div>
</div>