@model dynamic

@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Students</h2>


<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-3">Search Mode</label>
            <div class="col-md-3">
                <input type="radio" value="bydate" /> Search by Date
            </div>
            <div class="col-md-3">
                <label><input type="radio" value="byword" /> By Name or Student No.</label>
            </div>
            
        </div>
    </div>
    <div class="col-md-12">

        <div class="row">
            <label class="col-md-3">Search Date</label>
            <div class="col-md-4">
                <input type="text" placeholder="From Date" />  
            </div>
            <div class="col-md-4">
                <input type="text"  placeholder="To Date" />  
            </div> 
        </div>
        <div class="row">
            <label class="col-md-3">Search by name or student no.</label>
            <div class="col-md-4">
                <input type="text" placeholder="Enter name or student no." />  
            </div>
             
        </div>
    </div>
</div>