@model ProjectRoomMgmt.Models.AdmissionViewModel

@{
    ViewBag.Title = "Admissions";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<section class="row" data-ng-controller="AdmissionController as vm" data-ng-init="vm.init()">
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-primary m-r-10" data-ng-click="vm.advancedManage()">Advanced Manage</button> 
        </div>
    </div>
    <div class="col-md-12">
  
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="applicationsTable">
                <thead>
                    <tr>
                        <th style="width:1%">
                            <button class="btn">
                                <i class="pg-trash"></i>
                            </button>
                        </th>
                        <th style="width:15%">Actions</th>
                        <th style="width:20%">Applicant Name</th>
                        <th style="width:20%">CountryOfOrigin</th>
                        <th style="width:20%">OriginatingInstitute</th>
                        <th style="width:10%">CourseName</th>
                        <th style="width:10%">AdmissionStatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                          
                        <td class="v-align-middle ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </td>
                        <td style="width:15%">Actions</td>
                        <td style="width:20%" data-ng-bind="vm.searchResults.FullName">Applicant Name</td>
                        <td style="width:20%" data-ng-bind="vm.searchResults.CountryOfOrigin">CountryOfOrigin</td>
                        <td style="width:20%" data-ng-bind="vm.searchResults.OriginatingInstitute">OriginatingInstitute</td>
                        <td style="width:10%" data-ng-bind="vm.searchResults.CourseName">CourseName</td>
                        <td style="width:10%" data-ng-bind="vm.searchResults.AdmissionStatus">AdmissionStatus</td> 
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>



<div class="modal fade slide-up disable-scroll" id="newAdmissionModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>New  <span class="semi-bold">Admission</span></h5>
                    <p class="p-b-10">Please complete the form to add a new applicant.</p>
                </div>
                <div class="modal-body">
                    <form role="form" novalidate="" name="applicantForm">
                        <fieldset>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.firstName">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.lastName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Nationality</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.nationality">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Country of birth</label>
                                            <input type="text" class="form-control" data-ng-model="vm.applicationModel.countryOfBirth">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Occupation</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.occupation">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Originating Institute</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.originatingInstitute">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <div class="row">

                        <div class="col-sm-4 m-t-10 sm-m-t-10">
                            <button type="button" title="Please complete the " class="btn btn-primary btn-block m-t-5" data-ng-disabled="applicantForm.$invalid">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade slide-up disable-scroll" id="AdvancedSearchModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>Advanced  <span class="semi-bold">Manage</span></h5>
                </div>
                <div class="modal-body">
                    <form role="form" novalidate="" name="applicantForm">
                        <fieldset>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default input-group col-sm-10">
                                            <label>From Date</label>
                                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component1">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default input-group col-sm-10">
                                            <label>To Date</label>
                                            <input type="email" class="form-control" placeholder="Pick a date" id="datepicker-component2">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.firstName">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.lastName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Nationality</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.nationality">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Country of birth</label>
                                            <input type="text" class="form-control" data-ng-model="vm.applicationModel.countryOfBirth">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-attached m-b-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Occupation</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.occupation">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Originating Institute</label>
                                            <input type="text" class="form-control" required="" data-ng-model="vm.applicationModel.originatingInstitute">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="row">

                        <div class="col-sm-4 m-t-10 sm-m-t-10">
                            <button type="button" title="Please complete the " class="btn btn-primary btn-block m-t-5">Manage</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
